html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	background:url("grid_DominikKiss_SubtlePatterns.jpg") repeat scroll 0 0 #f4f4f4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {

text-decoration: none;
color: #fff;

}
a img{
	border: none;
}

body {
	overflow: hidden;
	font-family: sans-serif;
	color: #333;
}

#designova-logo {
    height: 50px;
}

#switcher {
	background: #1A1A1A;
	z-index: 99999;
	position: fixed;
	top: 0px !important;
	width: 100%;
	z-index: 999 !important;
}

#theme_select {
    background: url("switch.png") no-repeat scroll right 10px #272727;
    color: #FFFFFF;
    display: block;
    font-family: 'Arial',Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
	text-transform: uppercase;
	line-height: 34px;
    height: 30px;
    margin-top: 0;
    padding: 10px 16px;
    width: 180px;
}

#purchase-link{
    background: none repeat scroll 0 0 #f7682c;
    border-radius: 0;
    color: #ffffff;
    display: block;
    font-family: Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    padding: 19px 18px;
    text-transform: uppercase;
}

#purchase-link:hover{
	background: #333333;
}


#close-link{
    background-color: #2c3e50;
    color: #ffffff;
    display: block;
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 18px 18px;
    text-transform: uppercase;
}

.theme-catalog{
	width: 804px;
}
.theme-catalog li {
    border-bottom: 1px solid #b1b1b1;
    margin-left: 4px;
}


				
.wp{
    background-image: url("wp.png");
    background-position: right 8px center;
    background-repeat: no-repeat;
}
				
.wp:hover{
	
}		
.html{
    background-image: url("html5.png");
    background-position: right 8px center;
    background-repeat: no-repeat;	
}
				
.html:hover{
	
}		
				


				
/*
#theme_select:hover, #purchase-link:hover, #close-link:hover {
			background: #161616;
			color: #fff !important;
		}
*/

#theme_dropdown_list {

border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
padding: 20px;

}

.center {

margin: auto;
width: 100%;
padding-top: 0px;
height: 50px;

}

.center ul li {

display: inline;
float: left;
position: relative;

}

.center ul li ul {

display: none;
margin-left: 0px;
position: absolute;
/*width: 215px;*/

margin-top: 2px;
}


.center ul li ul li a {
    background-color: #fff;
    color: #686868;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    min-width: 220px;
    padding: 20px;
    text-transform: uppercase;
}

.center ul li ul li a:hover {
	color: #fff;
	background-color: #161616;
}






.mt{
	margin-top: 5px;
}
#iframe {

margin-top: 50px;

}

#metro-logo{
	margin: 0px;
	padding-right: 0px;
}